[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = https://github.com/mehmetakyurek/kickstart.nvim/
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "nvim"]
	path = nvim
	url = https://github.com/mehmetakyurek/nvim
	branch = main
